/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.abas{
	  -fx-background-color: #fbf791;
	  -fx-text-fill: black;
}

.primary-button {
    -fx-background-color: #fffa7f; 
    -fx-text-fill: black;
     -fx-border-color: #feff86; /* Cor da borda */
    -fx-border-width: 1;
}

.margin{
	-fx-border-width:1;
	-fx-border-color:#f7f5e7;
}

.button-margin{
	-fx-border-color:#f7f5e7;
	-fx-border-width:2;
}
.primary-button:hover{
    -fx-background-color: #c3f2a0;
    -fx-border-color:#cefa7d;
    -fx-border-width:1
}
